<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobby.chain.follow.domain.mapper.FollowMapper">
    <insert id="insertFollow">
        INSERT INTO member_follow(follower, followee)
        VALUES(#{follower}, #{followee})
    </insert>
    
    <delete id="deleteFollow">
        DELETE FROM member_follow
        WHERE follower = #{follower}
        AND followee = #{followee}
    </delete>
    
    <select id="isFollowing" resultType="boolean">
        SELECT EXISTS(
            SELECT *
            FROM member_follow
            WHERE follower = #{follower}
            AND followee = #{followee})
    </select>

    <select id="getFolloweeByUserId" parameterType="long" resultType="map">
        SELECT mf.followee, m.nickName
        FROM `member` as m
        join member_follow as mf
        on m.user_id = mf.followee
        WHERE mf.follower = #{followerId}
    </select>

    <select id="getFolloweeCountByUserId" parameterType="long" resultType="long">
        SELECT COUNT(followee)
        FROM member_follow
        WHERE follower = #{followerId}
    </select>
</mapper>