<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobby.chain.like.domain.mapper.LikeMapper">
    <insert id="insertLike">
        INSERT INTO post_like(post_id, user_id)
        VALUES (#{postId}, #{userId})
    </insert>

    <delete id="deleteLike">
        DELETE FROM post_like
        WHERE post_id = #{postId}
        AND user_id = #{userId}
    </delete>

    <select id="isLike" resultType="boolean">
            SELECT EXISTS(
                SELECT 1 FROM post_like
                WHERE post_id = #{postId} and user_id = #{userId})
    </select>
    
    <select id="getLikeByPostId" parameterType="long" resultType="long">
        SELECT COUNT(user_id) from post_like
        WHERE post_id = #{postId}
    </select>
</mapper>