<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobby.chain.member.domain.mapper.MemberMapper">

    <select id="findById" parameterType="String" resultType="int">
        SELECT IF( EXISTS(
            SELECT user_id
            FROM member
            WHERE user_id = #{userId}), 1, 0) as Result
    </select>

    <insert id="insertMember" parameterType="com.hobby.chain.member.domain.entity.Member">
        INSERT INTO member(user_id, password, name, nickName, phoneNumber, gender, birth, regdate)
            VALUES (#{userId}, #{password}, #{name}, #{nickName}, #{phoneNumber}, #{gender}, #{birth}, NOW())
    </insert>

</mapper>