<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobby.chain.member.domain.mapper.MemberMapper">

    <select id="exist" parameterType="String" resultType="boolean">
        SELECT EXISTS(
            SELECT email
            FROM member
            WHERE email = #{email}) as Result
    </select>

    <insert id="insertMember" parameterType="com.hobby.chain.member.dto.MemberDTO">
        INSERT INTO member(email, password, name, nickName, phoneNumber, gender, birth, regdate)
            VALUES (#{email}, #{password}, #{name}, #{nickName}, #{phoneNumber}, #{gender}, #{birth}, NOW())
    </insert>

    <select id="findById" parameterType="String" resultType="com.hobby.chain.member.dto.MemberLogin">
            SELECT user_id, email, password FROM member
            WHERE email = #{email}
    </select>

    <select id="getMemberInfo" parameterType="String" resultType="com.hobby.chain.member.dto.MemberDTO">
            SELECT email, password, name, nickName, phoneNumber, gender, birth, regdate FROM member
            WHERE email = #{email}
    </select>

</mapper>